video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.navbar .nav-item{
    display: flex;
    align-items: center;
    
}

.navbar i {
    font-size: 2em;
}

.navbar .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.navbar .nav-link, .navbar i{
    color: rgba(255, 255, 255, 0.7);
    padding: 0 !important;
    margin: 0 15px;
    
}

.navbar .nav-link:hover, .navbar i:hover{
    color: rgb(255, 255, 255);
}

header .navbar {
    padding: 0 30px !important;
    border-bottom: 1px solid #dddddd54;
}
